<div class="header-wrapper">

    <div class="header" style="background-image: url('assets/img/full-screen-image-3.jpg');">
        <div class="filter"></div>
        <div class="title-container text-center">
            <div class="container-fluid">
                <div class="row">

                    <!-- begin login -->
                    <div class=" col-md-4 col-sm-6 col-md-offset-4 col-sm-offset-3" >
                        <div class="text-center">
                            <h4 >Login</h4>
                            <form [formGroup]="usuarioForm">
                                <div class="row">
                                    <div class="col-md-6 col-md-offset-3">
                                        <div class="form-group">
                                            <label> Correo Electrónico</label>
                                            <input type="email" class="form-control" placeholder="Correo Electrónico"formControlName="correo" required>
                                            <small *ngIf="usuarioForm.controls['correo'].hasError('required') && usuarioForm.controls['correo'].touched" class="text-danger">Debes ingresar un correo</small>
                                            <small *ngIf="usuarioForm.controls['correo'].errors?.email && usuarioForm.controls['correo'].touched" class="text-danger">Debes ingresar un correo electr&oacute;nico v&aacute;lido</small>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-md-offset-3">
                                        <div class="form-group">
                                            <label>Contraseña</label>
                                            <input type="password" class="form-control" placeholder="Password" formControlName="password" required >
                                            <small *ngIf="usuarioForm.controls['password'].hasError('required') && usuarioForm.controls['password'].touched" class="text-danger">Debes ingresar el password</small>
                                            <small *ngIf="usuarioForm.controls['password'].hasError('minlength') && usuarioForm.controls['password'].touched"  class="text-danger">La contraseña debe ser de minimo 6 carateres.</small>
                                        </div>
                                    </div> 
                                    <button type="submit" class="btn btn-info  btn-fill col-md-4 col-md-offset-4" (click)="logIn()" [disabled]="usuarioForm.invalid">Entrar</button>                                  
                                </div>
                            </form>
                        </div>
                    </div>
                    <!-- end login -->
                </div>
            </div>
        </div>
    </div>
</div>